html{ font-size: 64.5%;}
*{
    margin: 0;
    padding: 0;
}
body{background: url(https://images.saymedia-content.com/.image/t_share/MTkzOTUzODU0MDkyODc5MzY1/particlesjs-examples.gif);
    background-repeat: no-repeat;
    /* background-size:cover ; */
    background-size: 200%;
    /* width: 100rem; */
}