/* Upload.css */
html{
  font-size: 64.5%;
}
.upload-container {
    text-align: center;
    margin: 2.0rem;
    padding: 2.0rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.1);
  }
  /* Upload.css */

  
  .upload-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 1.5rem 2.0rem; /* Adjust the padding for equal height */
    border-radius: .5rem;
    cursor: pointer;
  }
  
  .upload-button {
    
    background-color: #007bff;
    color: #fff;
    padding: 1.5rem 2.0rem; /* Adjust the padding for equal height */
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    /* margin-top: 1.0rem; */
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .remove-button {
    background-color: #ff3333;
    color: #fff;
    padding: 1.5rem 2.0rem; /* Adjust the padding for equal height */
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1.0rem;
  }
  
  .remove-button:hover {
    background-color: #ff0000;
  }
  
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
/* Upload.css */

.upload-container {
    text-align: center;
    margin: 2.0rem;
    padding: 2.0rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.1);
  }
  /* Upload.css */

  
  .upload-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 1.5rem 2.0rem; /* Adjust the padding for equal height */
    border-radius: .5rem;
    cursor: pointer;
  }
  
  .upload-button {
  margin-left: 2rem;
     display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 1.3rem 2.0rem; /* Adjust the padding for equal height */
    border-radius: .5rem;
    cursor: pointer;
  }
  
 .upload-label:hover, .upload-button:hover {
    background-color: #0056b3;
  }
  
  .remove-button {
    background-color: #ff3333;
    color: #fff;
    padding: 1.5rem 2.0rem; /* Adjust the padding for equal height */
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1.0rem;
  }
  
  .remove-button:hover {
    background-color: #ff0000;
  }
  
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
